# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

/public
.DS_Store

# extra stuff
node_modules
/package.json
/data/
/content/
/config*.toml
/package-lock.json
/netlify.toml
/*.config.js
/archetypes/blog.md
/archetypes/products.md
/static/css/custom.css
/static/img/logo/
/static/img/slide/

# a file that gets replaced by tailwind
/assets/css/style.css
